body{
    font-family: "Plus Jakarta Sans", serif !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container{
    flex: 1
    ;


}
.navbar{
    height: 5rem;
 background-color: white;

}

.fa-compass {
    color: red;
    font-size: 2rem;
}
.nav-link{
    color: #222222;
}

.f-info-links a{
text-decoration: none;
color: #222222;
font-size: 1.1rem;
}

.f-info-links a:hover{
text-decoration: underline;

}
.f-info-links{
    width: 100%;
}

.f-info-socials{
    width: 100%;
    font-size: 1.5rem;
    margin-right: 2rem !important;
}
.f-info-socials i {
margin-right: 1rem;
}

.f-info{
display: flex;
text-align: center;
justify-content: center;
background-color: #ebebeb;
height: 7rem;
flex-wrap: wrap;
font-size: 1.3rem ;

align-items: center;
}

.airbnb{
    display: flex;
    width: 100%;
    font-size: 1.2rem !important;
    justify-content: center;
    align-items: center;
}

.card{
    border: none;
    margin-bottom: 10px;
}

.card-img-top{
    border-radius: 1rem !important;
    object-fit: cover !important;
    width: 100% !important;
}

.card-body{
    padding: 0px !important;
}

.card-text{
font-weight: 500 !important;
}

.card-title{
    font-weight: bold;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;

}


.show-img{
    height: 30vh;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
}